.App {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: min-content;
}
.game-box {
  height: 4rem;
  width: 4rem;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
.game-box:hover {
  cursor: pointer;
  background-color: rgb(149, 147, 144);
}